<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">
      © <%= current_year %> Created by Kseniia<br>
      <%= github_url('VorobevaKseniia', 'TestGuru') %> project is designed to create, manage and execute various tests<br>
      Learning project at <a href="http://www.thinknetica.com/" target="_blank" class="fw-bolder link-secondary text-decoration-none">Thinknetica </a> online school
    </span>
  </div>
</footer>
