<% provide(:title, "About") %>

<h1>О проекте</h1>
<p>
  Наш проект "TestGuru" предназначен для создания, управления и выполнения различных тестов <br>
  <a href="http://www.thinknetica.com/">Онлайн-школа "Thinknetica"</a>
</p>
